<div class="well well-lg">
  <div class="container">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
      <h1 class="text-center title">Calendar</h1>
    </div>

    <div class="col-md-2">
      <h3><%= link_to '[ Logout ]', logout_url %></h3>
    </div>
  </div>
</div>
