<section class="home">
  <div class="vertical-center">
    <h1>Calendar </h1>
    <%= link_to auth_path, class: 'btn btn-danger btn-lg' do %>
      <span class="fa fa-google fa-lg"></span> Sign in with Google
    <% end %>
  </div>
</section>
