// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


 .title {
   margin: 0;
   padding: 0;
   font-size: 4.5em;
   font-weight: 700;
 }

 .bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    border-left-color: #777;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
    color: #777;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.error-explanation {
  width: 382px;
  padding: 0; margin: 0 auto 1.5em;
  border: 1px solid #AA0000;
  background-color: #FFFFFF;
  font-size: 12px;
  h2 {
    font-weight: bold;
    font-size: 12px;
    padding: 5px 5px 5px 15px; margin: 0;
    width: 380px;
    background-color: #AA0000; color: #FFFFFF;
  }
  p {
    color: #333333;
    margin: 0; padding: 3px 0.5em;
  }
  ul { margin-top: 0; }
  ul li { list-style: square; }
}
